body{
    background-image: url(background.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
.main{
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: row;
}
.row div{
    width: 10rem;
    height: 10rem;
     border: 0.5rem solid black;
     border-radius: 0.5rem;
    margin: 5px;
}
.row{
    display: flex;
    flex-direction: column;
}
.blue{
    background-color: rgb(226, 226, 106);
}
.red{
    background-color: rgb(236, 103, 103);
}
.green{
    background-color: rgb(86, 120, 234);
}
.pink{
    background-color:rgb(83, 139, 83);
}
.flash{
    background-color: rgb(250, 250, 250);
}